h1 {
    text-align: center;

}
.container {
    line-height: 2;
    text-align: center;
    align-items: center;
}

body {
    font-family: sans-serif;
    background-color: darkcyan;
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin: 0;
    align-items: center;

}

.form-group {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: flex-start;
    margin-bottom: 15px;
    padding: 5px;
}

.button {
    margin-bottom: 10px;
}
